.add-task-window {
  /* margin-top: 2rem;
  background-color: white;
  border-radius: 12px;
  
  justify-content: center;
  align-items: center;
  
  font-size: 1rem; */
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: center;
  padding: 1rem 2.5rem;
}

.input-wrapper {
  max-width: 80%;
  text-align: center;
}

.add-task-input {
  /* padding: 2rem; */
  background: none;
  /* margin: auto 2rem; */
  display: inline-block;
  width: 100%;
}

.est-pomodoros-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.est-pomodoros-container p {
  font-size: 1.2rem;
}

.pomodoros-input {
  text-align: center !important;
  height: 3rem;
  background-color: inherit;
  font-size: 0.5rem;
}

Button {
  all: unset;
}

.increase-pomodoros,
.decrease-pomodoros {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  padding: auto;
  font-size: 1.5rem;
}

.save-and-cancel-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.save-and-cancel-btn Button {
  margin: 0.2rem;
}
