.header {
  font-size: 2rem;
  position: absolute;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar li {
  list-style-type: none;
  margin: 1rem;
}

.navbar li a {
  color: azure;
  text-decoration: none;
  opacity: 0.6;
}

.navbar li a:hover {
  opacity: 1;
}

img {
  width: 150px;
}
