.todo-header {
  border-bottom: 2px solid rgba(98, 98, 98, 0.3);
}

.todo-header .add-todo {
  width: 100%;
}

.todo-header input {
  border: 0;
  text-align: left;
  font-size: 30px;
  padding: 5px;
  font-weight: 200;
  outline: none;
  float: left;
  width: 100%;
}
