.todo-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(217, 217, 217);
  width: 100%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.todo-container button {
  background: inherit;
  border: none;
}

.text-container {
  width: 100%;
  text-align: left;
  margin-left: 1rem;
}

.task-completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.edit-task {
  font-size: 1.5rem;
}

.delete-btn {
  cursor: pointer;
  margin-left: 0.5rem;
  opacity: 0;
  transition: all ease-in-out 400ms;
  margin-right: 0.1rem;
}

.delete-btn-active {
  opacity: 1;
  transition: all ease-in-out 400ms;
}

.delete-btn:hover {
  color: rgb(235, 80, 80);
}

.checkbox {
  color: #40915c;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.checkbox-dark {
  color: #181618;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.checkbox-unchecked {
  opacity: 0.2;
}

/* .est-pomodoros {
  margin-right: 2px;
} */
